.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: black;
    color: white;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.navbar a:hover {
    color: yellow;
}